@import "../../../main-styles.scss";

.root {
  display: flex;
  width: 100%;
  position: relative;

  // Style applied when hover on the root , Put behind the other hover since the last code will be applied
  &:hover {
    .x-icon-button {
      opacity: 1;
      // Correct size
      transform: scale(1);
    }
  }
  .x-icon-button {
    position: absolute;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: $dark;
    // Center background IMg
    background-image: url("../../../assets/delete_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: -17px; // half of the width
    top: -17px; // half of the height
    // without hover
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform: scale(0);
    opacity: 0;
    cursor: pointer;
    // When x icon button is hovered
    &:hover {
      transform: scale(1.2);
    }
  }
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: darken($light-grey, 5%);
  }

  .description {
    // take full width
    flex-grow: 1;
    display: flex;
    font-size: 18px;
    margin-left: 5px;
    border-radius: 3px;
    // Vertically center the children element
    align-items: center;
  }

  .amount {
    padding: 5px;
    border-radius: 3px;
  }
}

.expense {
  p {
    color: $red;
  }
  .amount {
    background-color: $light-red;
  }
}

.income {
  p {
    color: $green;
  }
  .amount {
    background-color: $light-green;
  }
}
